.search {
  width: 460px;
  margin: 0 auto 24px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.search-field {
  background: var(--white);
  border: 1px solid var(--paper-2);
  border-radius: 5px;
  color: var(--paper-8);
  display: block;
  flex-grow: 1;
  font-family: var(--content-font);
  font-size: var(--body-font-size);
  line-height: var(--body-leading);
  padding: 8px 16px;
  margin: 0;
}

.search-button {
  background: var(--gray-2);
  border: 0;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: relative;
  text-indent: -999px;
  transition: all 150ms;
  width: 40px;
}

.search-button:active {
  background: var(--paper-3);
}

.search-button:hover {
  background: var(--gray-3);
}

.search-button::after {
  content: "🔎";
  font-size: var(--title-2-font-size);
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 40px;
}
