<ul class="collection">
  <%= for user <- @users do %>
    <li class="collection-item avatar">
      <img src={Bookify.Avatar.url({user.avatar, user}, signed: true)} alt={user.name <> " profile picture"} class="circle">
      <p class="right">
        Last Log-in: <%= user.last_login %>
        <br>
        Created: <%= user.inserted_at %>
      </p>
      <h6>
        <%= link user.name, to: Routes.admin_path(@conn, :show, user.id) %>
      </h6>
    </li>
  <% end %>
</ul>



