<%!-- <img src={@book.cover_pic_url}>
<%= @book.title %>
<br>
<%= gettext("Author:") %> <%= link @book.author.name, to: Routes.author_path(@conn, :show, @book.author.id) %>
<br>
<%= gettext("Year:") %> <%= @book.publish_year %>
<br>
<%= gettext("Pages:") %> <%= @book.page_count %>
<br>
<%= gettext("Genres:") %>
<%= if @book.genre == nil, do: '', else: Enum.join(@book.genre, ", ") %>
<br>
<h5>
<%= gettext("Description:") %>
</h5>
<p> <%= @book.anotation %> </p> --%>
